.slider{
    padding-top: 90px;
    width: 100%;
    background-size: cover;
    border-radius: 2rem;
    .text-col{
        h6{
            font-size: 3rem;
            color: $grey;
            text-shadow: $shadow;
        }
        p{
            font-size: 17px;
            color: $darkblue;
            font-weight: 400;
        }
        p.desc{
            font-size: 17px;
            color: rgba(28, 29, 30, 0.47);
            font-weight: 400;
        }
        button{
            position: relative;
            display: inline-block;
            background-color: $blue;
            border: none;
            border-radius: 2rem;
            color: $orange;
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            overflow: hidden;
            cursor: pointer;
            transition: background-color 0.3s ease;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background-color: $blue;
                transition: left 0.5s ease;
                z-index: 1;
            }
            a {
                position: relative;
                z-index: 2;
                display: inline-block;
                color: white;
                transition: color 0.3s ease;
                text-decoration: none;
            }
            &:hover::before {
                left: 0;
            }
            &:hover {
                background-color: $darkblue;
            }
            &:hover{
                color: $orange;
            }
        }
    }
}
