$dark: #1a2232;
$white: rgb(255, 255, 255);
$orange: #fba51a;

$grey: #5c5858;


$blue : #2CC6FF;
$purple: #c8b6ff;
$darkblue : #00A6E3;
$whitegrey: #f4f4f4;
$lightgrey: rgba(28, 29, 30, 0.47);

$shadow: 0px 3px 10px 0px rgba(27, 34, 43, 0.2);
$border: 1px solid #ced4da;




