@charset "UTF-8";
.navbar-wrapper {
  width: 100%;
}
.navbar-wrapper .container-fluid {
  width: 60%;
}
@media (max-width: 768px) {
  .navbar-wrapper .container-fluid {
    width: 100%;
  }
}
.navbar-wrapper .navbar {
  background-color: rgba(239, 239, 239, 0.8);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 2rem;
}
.navbar-wrapper .navbar .navbar-collapse li {
  min-height: 60px;
}
.navbar-wrapper .navbar .navbar-collapse li a {
  font-size: 14px;
  color: #5c5858;
  font-weight: 500;
}
.navbar-wrapper .navbar .navbar-collapse li a:hover {
  color: #00A6E3;
}
.navbar-wrapper .navbar .navbar-collapse li:last-child {
  opacity: 0;
  transform: translateY(-250px);
}
.navbar-wrapper .navbar .navbar-collapse li:last-child a {
  font-size: 14px;
  color: #00A6E3;
  font-weight: 600;
}
.navbar-wrapper .navbar .navbar-collapse li:last-child a:hover {
  color: #5c5858;
}
.navbar-wrapper .navbar .navbar-toggler {
  border: none !important;
}
.navbar-wrapper .navbar .navbar-toggler:focus, .navbar-wrapper .navbar .navbar-toggler:focus-visible {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.navbar-wrapper .navbar .offcanvas {
  top: 85px;
}
.navbar-wrapper .navbar .offcanvas li a {
  font-size: 20px;
  color: #00A6E3;
}
.navbar-wrapper .navbar .offcanvas li:last-child {
  background-color: #00A6E3;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 100vw;
}
.navbar-wrapper .navbar .offcanvas li:last-child a {
  color: white;
}
.navbar-wrapper .navbar .offcanvas .sub-link a {
  font-size: 20px;
  color: #5c5858;
  border-bottom: 1px solid #00A6E3;
}
.navbar-wrapper .navbar .offcanvas-backdrop.show {
  opacity: 0;
}

footer .bg-white {
  color: #5c5858;
}
footer .bg-white p {
  margin-bottom: 0;
  font-size: 14px;
}
footer .bg-white p span {
  font-weight: 600;
}
footer .top-footer {
  border-radius: 2rem;
  background-color: #f6f7fa;
}
footer .top-footer li {
  color: #00A6E3;
}
footer .top-footer li a {
  color: #00A6E3;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s;
}
footer .top-footer li a:hover {
  color: #2CC6FF;
}
footer .bottom-footer {
  background-color: #00A6E3;
  border-radius: 2rem;
}
footer .bottom-footer p {
  font-size: 16px;
  font-weight: 400;
}
footer .bottom-footer p a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
footer .bottom-footer .links {
  font-size: 14px;
  color: #5c5858;
}
footer .bottom-footer .links a {
  text-decoration: underline;
  color: rgba(28, 29, 30, 0.47);
  transition: 0.3s;
}
footer .bottom-footer .links a:hover {
  color: rgb(255, 255, 255);
}

@font-face {
  font-family: "Satoshi";
  src: url("fonts/Satoshi-Medium.ttf") format("ttf"), url("fonts/Satoshi-Medium.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 9999;
}

.loader-left,
.loader-right {
  flex: 1;
  background: white;
}

.loader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.loader-logo img {
  max-width: 150px;
  display: block;
  position: relative;
  z-index: 2;
}

.loader-logo .loader-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 150px;
  height: 150px;
  border: 3px solid #ccc;
  border-radius: 50%;
  z-index: 1;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.8;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0.3;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.8;
  }
}
a {
  text-decoration: none;
}

p {
  color: #5c5858;
}

body {
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.box {
  background-color: #f4f4f4;
  min-height: 70vh;
  border-radius: 2rem;
  position: relative;
  transition: 0.3s;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.box:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}
.box .position-relative {
  height: 40vh;
}
.box h4 {
  color: #5c5858;
  font-weight: 500;
  height: 60px;
}
.box h4 span {
  color: #00A6E3;
  font-weight: 600;
}
.box p {
  color: #5c5858;
}
.box img.absolute {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 43%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .box img.absolute {
    top: 100px;
  }
}

header {
  margin-top: 6em;
}

.section {
  margin-bottom: 2em;
}

.section-title {
  font-size: 3rem;
  color: #5c5858;
  text-shadow: 0px 3px 10px 0px rgba(27, 34, 43, 0.2);
}

.section-title__medium {
  font-size: 1.5rem;
  color: #5c5858;
  text-shadow: 0px 3px 10px 0px rgba(27, 34, 43, 0.2);
}

.section-title__small {
  font-size: 1.2rem;
  color: #5c5858;
  text-shadow: 0px 3px 10px 0px rgba(27, 34, 43, 0.2);
}

.section-title__blue {
  color: #00A6E3;
}

.section__1 .box {
  overflow: hidden;
  position: relative;
}

/* Štýly pre časovú os */
.timeline {
  position: relative;
  padding-left: 60px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 30px; /* umiestnenie čiary */
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #5c5858;
  height: 420px;
}

.timeline-item {
  position: relative;
  margin-bottom: 40px;
}

.timeline-marker {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: -50px;
  background-color: #00A6E3;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.section__2 {
  position: relative;
  overflow: hidden;
  padding: 3rem 0;
}
.section__2 .box {
  background-color: rgba(0, 166, 227, 0.85);
  overflow: hidden;
  position: relative;
  min-height: max-content;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.section__2 .box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, rgba(0, 166, 227, 0.8), rgba(255, 255, 255, 0.2), rgba(0, 166, 227, 0.8));
  animation: rotateBackground 5s linear infinite;
  z-index: -1;
}
.section__2 .box h3 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 0.5rem;
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
}
.section__2 .box h5 {
  color: rgb(255, 255, 255);
  font-weight: normal;
  margin-bottom: 1rem;
  opacity: 0;
  animation: fadeInUp 1.2s ease forwards;
}
.section__2 .box .btn__1 {
  background-color: rgb(255, 255, 255);
  color: #00A6E3;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  animation: fadeInUp 1.4s ease forwards;
}
.section__2 .box .btn__1:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

@keyframes rotateBackground {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=app.css.map */
