

// -- NAVBAR --
.navbar-wrapper {
    width: 100%;

    .container-fluid {
        width: max-content;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    .navbar {
        background-color: rgba(44, 62, 80, 0.8);
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        border-radius: 2rem;

        // PC MENU
        .navbar-collapse {
            li {
                min-height: 60px;

                a {
                    font-size: 0.85rem;
                    letter-spacing: 1px;
                    color: $white;
                    font-weight: 400;

                    &:hover {
                        color: $darkblue;
                    }
                }
            }

            li:last-child {
                opacity: 0;
                transform: translateY(-250px);

                a {
                    font-size: 0.85rem;
                    color: $darkblue;
                    font-weight: 600;
                    transition: 0.2s ease;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }

        // MOBILE MENU
        .navbar-toggler {
            border: none !important;

            &:focus,
            &:focus-visible {
                outline: none !important;
                border: none !important;
                box-shadow: none !important;
            }
        }

        .offcanvas {
            top: 85px;

            li {
                a {
                    font-size: 20px;
                    color: $darkblue;
                }
            }

            li:last-child {
                background-color: $darkblue;
                font-weight: bold;
                overflow: hidden;
                cursor: pointer;
                transition: background-color 0.3s ease;
                min-width: 100vw;

                a {
                    color: white;
                }
            }

            .sub-link {
                a {
                    font-size: 20px;
                    color: $grey;
                    border-bottom: 1px solid $darkblue;
                }
            }
        }

        .offcanvas-backdrop.show {
            opacity: 0;
        }
    }
}





// -- FOOTER --
#top-footer {
    margin-top: 10vh !important;
    @media (max-width: 768px) {
        margin-top: 5vh !important;
    }
    .box{
        min-height: max-content;
        &:hover{
            transform: scale(1.0);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        }
        h5{
            color: $dark;
            font-weight: 900;
        }
        ul{
            flex-wrap: wrap !important  ;

            li {
                @media (max-width: 768px) {
                    width: max-content !important;
                }
                a {
                    color: $dark;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 0.85rem;
                    font-weight: 900;
                    transition: 0.3s;
                }
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

#bottom-footer {
    .box{
        background-color: $dark;
        min-height: max-content;
        &:hover{
            transform: scale(1.0);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        }
        p {
            font-size: 16px;
            font-weight: 400;
            color: $white;
            a {
                text-decoration: none;
                color: $white;
            }
        }
        .bottom-footer__links {
            font-size: 0.85rem;
            color: $white;
            a {
                text-decoration: underline;
                color: $white;
                transition: 0.3s;

                &:hover {
                    color: $darkblue;
                }
            }
        }
    }

}


@media (max-width: 768px) {
    .navbar-wrapper {
        width: 100%;
        .navbar {
            .offcanvas{
                height: 100vh;
                background-color: $dark;
                border-radius: 2rem;
                ul{
                    li{
                        a{
                            color: $white !important;
                            font-weight: 500;
                        }
                    }
                }

            }
        }
    }

}
